.profile-img {
  max-width: 100%;
  top: 50%;
}

.white-icon {
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

a {
  margin-left: 2px;
  margin-right: 2px;
}
