<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <form [formGroup]="form">
        <div class="input-group">
          <div class="input-group-apend">
            <a class="btn btn-primary home-buton" mat-raised-buttonjes
               #tooltip="matTooltip"
               matTooltip="Strona główna"
               [routerLink]="['/']">
              <fa-icon [icon]="faHome" class="white-icon"></fa-icon>
            </a>
          </div>
          <input id="query" class="form-control" type="text" formControlName="query">
          <div class="input-group-apend">
            <a class="btn btn-primary" type="submit" mat-raised-buttonjes
               #tooltip="matTooltip"
               matTooltip="Wyszukaj po tagach"
               (click)="onSubmit()">
              <fa-icon [icon]="faSearch" class="white-icon"></fa-icon>
            </a>
          </div>
        </div>
      </form>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li *ngIf="!this.identityService.isLoggedIn()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/login']">Zaloguj się</a>
          </li>
          <li *ngIf="this.identityService.isLoggedIn()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/profile']">Profil</a>
          </li>
          <li *ngIf="this.identityService.isLoggedIn()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/orders']">Zamówienia</a>
          </li>
          <li *ngIf="this.identityService.isInRole('admin')" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/administration']">Panel</a>
          </li>
          <li *ngIf="this.identityService.isLoggedIn()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" (click)="this.identityService.logout()">Wyloguj się</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
